<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        EMPTY SPACE IN MY SOUL WHERE THE CUPCAKES WILL EVENTUALLY LIVE
    </ul>

    <!-- This AJAX action doesn't actually work, but it gives us a clue, because
    we should never visit this URL -->
    <form action="AJAX" method=""> 

        <label for="flavor">Flavor</label>
        <input type="text" name="flavor" id="flavor">

        <label for="size">Size</label>
        <input type="text" name="size" id="size">

        <label for="rating">Rating</label>
        <input type="text" name="rating" id="rating">

        <label for="image">Image</label>
        <input type="text" name="image" id="image">

        <button type="submit" id="addButton">Add a cupcake</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/script.js"></script>
</body>

</html>